.find-me-here {
    width: 100%;
    background-color: $dark-grey;

    &__h3 {
        color: $light-grey;
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 1em;
    }

    &_imgs {
        display: flex;
        justify-content: center;
        padding-bottom: 2em;

        &__img {
            width: 100px;
            height: 100px;
            margin: 2em;

            @media (max-width: $mobilwidth) {
                margin: 1em;
                padding: 1em;

            }
        }

    }



}