@import 'variables';
@import 'main';
@import 'header';
@import 'about';
@import 'footer';
@import 'findme';
@import 'skills';
@import 'contact';
@import 'portfolio';

html {
    box-sizing: border-box;
    background-color: $background-gray;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    background-color: white;
    font-family: $font, sans-serif;
    max-width: $content-width;

}